* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  max-height: 100vh;
}

h2 {
  font-weight: 1000;
  font-size: 1.8em;
}

p {
  font-size: 0.8em;
  font-weight: 10;
}

button {
  border-radius: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #1f2937;
  height: 5vh;
  align-items: center;
}

.title {
  margin-left: 5%;
  justify-content: flex-start;
  cursor: pointer;
}

.links {
  display: flex;
  text-align: center;
  margin-right: 5%;
  width: 35%;
  justify-content: space-between;
}

.link {
  cursor: pointer;
}

.section {
  width: 100vw;
  height: 22.5vh;
  display: flex;
  justify-content: space-between;
}

.one {
  background-color: #1f2937;
  align-items: center;
}

.intro {
  padding-left: 5%;
  width: 40%;
  color: white;
}

.intro p {
  color: grey;
}

.intro button {
  margin-top: 2%;
  padding: 5px 8px 5px 8px;
  background-color: #3882f6;
  color: white;
}

.image {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 35%;
  background-color: grey;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.two {
  display: block;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  padding: 1vw 0vw 1vw 0vw;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin: 2vw 1.5vw 0.5vw 1.5vw;
}

.image-container p {
  font-size: 0.8em;
  padding-top: 0.5vw;
}

.image-series {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-small {
  width: 80px;
  height: 80px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  cursor: pointer;
}

.three {
  background-color: #e5e7eb;
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.quote {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 10;
  font-style: italic;
  font-size: 1.2em;
}

.author {
  display: flex;
  margin-right: 10%;
  justify-content: flex-end;
  font-weight: 1000;
}

.four {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  width: 60%;
  height: 50%;
  border-radius: 12px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column;
  justify-content: center;
  justify-content: center; */
  padding-right: 10%;
  padding-left: 10%;
  color: white;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action button {
  background-color: inherit;
  border-color: #f1f1f1;
  color: #f1f1f1;
}

.footer {
  background-color: #1f2937;
  height: 5vh;
  color: #f1f1f1;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}
